In [280]:
import requests
from pprint import pprint
import pandas as pd
import re
import numpy as np

In [8]:
#test
base_url = "https://api-v3.igdb.com/"
header={"user-key":"12e42347a0a2ee0b7a738578e40fe301 "}
end_point='games'
params={"fields":"aggregated_rating,name,videos,game_modes,genres", "filter[aggregated_rating][gt]":"0", "limit":"100",}
# filter[platform][eq]=48

In [225]:
#primary ds
base_url = "https://api-v3.igdb.com/games"
header={"user-key":"12e42347a0a2ee0b7a738578e40fe301"}
params={"fields": "age_ratings,aggregated_rating,aggregated_rating_count,category,dlcs,expansions,first_release_date,follows,franchise,franchises,game_modes,hypes,keywords, multiplayer_modes,name,popularity,pulse_count,rating,rating_count,release_dates, similar_games,slug,storyline,summary,tags,themes,time_to_beat,total_rating,total_rating_count,artworks,url,genres", "order":"popularity:desc", "limit" :"500"}

In [147]:
# game modes
base_url = "https://api-v3.igdb.com/game_modes"
header={"user-key":"12e42347a0a2ee0b7a738578e40fe301"}
params={"fields":"name,slug, url ", "limit" : 500 }

In [142]:
#genres
base_url = "https://api-v3.igdb.com/genres"
header={"user-key":"12e42347a0a2ee0b7a738578e40fe301"}
params={"fields":"slug, url ", "limit" : 500 }

In [151]:
#themes
base_url = "https://api-v3.igdb.com/themes"
header={"user-key":"12e42347a0a2ee0b7a738578e40fe301"}
params={"fields":"slug, url ", "limit" : 500 }

In [212]:
#Age Rating Descriptions
base_url = "https://api-v3.igdb.com/age_rating_content_descriptions"
header={"user-key":"12e42347a0a2ee0b7a738578e40fe301"}
params={"fields":"*", "limit" : 500 }

In [205]:
#Age Ratings
for item in this_set:
    base_url = "https://api-v3.igdb.com/age_ratings"
    header={"user-key":"12e42347a0a2ee0b7a738578e40fe301"}
    params={"fields":"*", "limit" : 500, "filter[id][eq]": item }
    response = requests.get(base_url,headers=header,params=params)
    print(response)
    df = pd.DataFrame(response.json())
    
#/release_dates/?fields=*&filter[platform][eq]=48&order=date:asc&filter[date][gt]=1500619813000&expand=game

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [222]:
#df = df.set_index('id')
#df = df.drop("category", axis=1)

In [ ]:
df = df.set_index('id')

In [226]:
response = requests.get(base_url,headers=header,params=params)
print(response)
df = pd.DataFrame(response.json())
df.columns

<Response [200]>

Index(['age_ratings', 'aggregated_rating', 'aggregated_rating_count',
       'artworks', 'category', 'dlcs', 'expansions', 'first_release_date',
       'franchise', 'franchises', 'game_modes', 'genres', 'hypes', 'id',
       'keywords', 'multiplayer_modes', 'name', 'popularity', 'pulse_count',
       'rating', 'rating_count', 'release_dates', 'similar_games', 'slug',
       'storyline', 'summary', 'tags', 'themes', 'time_to_beat',
       'total_rating', 'total_rating_count', 'url'],
      dtype='object')

In [237]:
#df = df.set_index('id')
#df.to_csv("age_rating_codes_ds.csv")
tbo_df = df.loc[:,['age_ratings', 'artworks', 'dlcs', 'expansions', 'franchises', 'game_modes', 'genres',\
          'keywords', 'multiplayer_modes', 'release_dates', 'similar_games', 'tags', 'themes']]

In [242]:
df.to_csv("primary_ds_new.csv")

In [240]:
df = df.drop(['age_ratings', 'artworks', 'dlcs', 'expansions', 'franchises', 'game_modes', 'genres',\
          'keywords', 'multiplayer_modes', 'release_dates', 'similar_games', 'tags', 'themes'], axis=1)

In [261]:

age_ratings_set = set()

for i in age_ratings:
    i = i.replace('[', "")
    i = i.replace(' ', "")
    i = i.replace('0', "")
    i = i.replace(']', "").split(",")
    age_ratings_set.update(i)

age_ratings_set = list(new_set)

AttributeError: 'list' object has no attribute 'replace'

In [275]:
age_ratings = tbo_df[['age_ratings', 'id']]
age_ratings = age_ratings.dropna()
age_ratings

        age_ratings      id
0           [25494]  115278
1           [25488]  120268
2           [25485]  105049
3           [25457]  113344
4    [25428, 25841]   19164
5            [6032]    1877
6           [24208]  115653
8    [25528, 25529]   96217
10          [24721]   26845
11          [25495]   55038
13           [9372]   22472
14          [23490]   22490
17          [25530]   55190
18   [25533, 25534]  114286
20   [25535, 25536]   26145
24   [25267, 25437]   27092
30          [22565]   56033
31          [23950]   55199
35           [8367]   18623
39   [20787, 20788]   67166
40          [23541]   28168
41          [22609]   28309
44   [23476, 23477]   24426
49   [25537, 25538]    3772
50   [25539, 25540]   18225
52   [26266, 26348]   19564
55          [14040]   55036
58   [23157, 23158]   28070
59   [24233, 24234]  115737
60          [13999]   25646
..              ...     ...
448   [1110, 19910]     832
453  [14065, 14066]     359
455    [6453, 6454]    2918
456  [10960, 20842]   11162
457           [419]     241
459  [21038, 21039]    4843
460   [6468, 24580]    7334
461         [25570]   17446
463          [4163]    7213
464    [8461, 8462]    5589
466  [11346, 11347]   21642
469  [14240, 21379]   28540
471         [12621]   36732
472         [12376]   28472
474     [96, 12190]    1011
475         [25259]  119305
479  [13899, 13900]   22439
480  [25571, 25572]    7843
481  [11621, 11622]    5503
482  [13075, 13076]   11233
483         [26114]   74701
485  [23069, 23070]   16287
486   [9162, 11319]    7323
487    [828, 11281]     233
490  [23806, 24266]   19686
491         [22048]   16999
492         [24883]  115284
496   [6376, 23114]     587
497  [12499, 12500]   11550
498  [25573, 25574]  101211

[267 rows x 2 columns]

In [277]:
for c, ratings in enumerate(age_ratings['id']):
    print(ratings)

115278
120268
105049
113344
19164
1877
115653
96217
26845
55038
22472
22490
55190
114286
26145
27092
56033
55199
18623
67166
28168
28309
24426
3772
18225
19564
55036
28070
115737
25646
113360
105269
37138
54775
47823
80809
116681
26950
1942
13200
20342
660
1020
55173
103329
15830
3222
10032
26226
9938
55092
7027
102057
103303
9243
13189
24765
113114
564
9278
22469
18011
54842
78550
103301
99118
3700
8773
19561
10297
22470
119177
11646
18869
19560
27725
9727
25076
4755
103292
5647
37016
1006
20776
13210
103168
3225
40477
7346
14593
19301
103298
9058
26855
533
11156
26192
18182
848
2031
28182
28113
5867
11582
9927
19565
22477
1593
87622
19441
3188
121
27419
95340
17906
1906
68286
18167
44076
3025
115735
101608
113113
10964
1342
1009
7331
8968
28794
77529
20329
3042
9538
19531
115280
43367
37382
28010
22471
1905
571
1802
41
118218
11423
16992
1244
113201
115283
62151
8746
11171
115276
36926
11231
9477
9648
2939
732
118871
90099
7350
9498
2040
1887
10239
3155
103328
25921
9730
107614
472
9806
10760
28552
14362
7342
733
7276
12517
68287
103281
960
18918
58075
111253
7351
1372
115741
76882
1985
103054
7344
11737
113109
26758
75242
103369
20331
90101
19085
115740
8559
7599
101573
27378
1352
114285
43165
662
110503
27316
9834
11668
114795
19541
119507
1121
8744
538
501
5601
19083
11367
11208
11118
17000
11292
1377
471
87514
109274
19549
76253
1341
75240
7386
832
359
2918
11162
241
4843
7334
17446
7213
5589
21642
28540
36732
28472
1011
119305
22439
7843
5503
11233
74701
16287
7323
233
19686
16999
115284
587
11550
101211

In [274]:
tbo_df = tbo_df.reset_index()

In [284]:
lst_col = 'age_ratings'
r = pd.DataFrame({
      col:np.repeat(age_ratings[col].values, age_ratings[lst_col].str.len())
      for col in age_ratings.columns.drop(lst_col)}
    ).assign(**{lst_col:np.concatenate(age_ratings[lst_col].values)})[age_ratings.columns]

In [285]:
age_ratings

        age_ratings      id
0           [25494]  115278
1           [25488]  120268
2           [25485]  105049
3           [25457]  113344
4    [25428, 25841]   19164
5            [6032]    1877
6           [24208]  115653
8    [25528, 25529]   96217
10          [24721]   26845
11          [25495]   55038
13           [9372]   22472
14          [23490]   22490
17          [25530]   55190
18   [25533, 25534]  114286
20   [25535, 25536]   26145
24   [25267, 25437]   27092
30          [22565]   56033
31          [23950]   55199
35           [8367]   18623
39   [20787, 20788]   67166
40          [23541]   28168
41          [22609]   28309
44   [23476, 23477]   24426
49   [25537, 25538]    3772
50   [25539, 25540]   18225
52   [26266, 26348]   19564
55          [14040]   55036
58   [23157, 23158]   28070
59   [24233, 24234]  115737
60          [13999]   25646
..              ...     ...
448   [1110, 19910]     832
453  [14065, 14066]     359
455    [6453, 6454]    2918
456  [10960, 20842]   11162
457           [419]     241
459  [21038, 21039]    4843
460   [6468, 24580]    7334
461         [25570]   17446
463          [4163]    7213
464    [8461, 8462]    5589
466  [11346, 11347]   21642
469  [14240, 21379]   28540
471         [12621]   36732
472         [12376]   28472
474     [96, 12190]    1011
475         [25259]  119305
479  [13899, 13900]   22439
480  [25571, 25572]    7843
481  [11621, 11622]    5503
482  [13075, 13076]   11233
483         [26114]   74701
485  [23069, 23070]   16287
486   [9162, 11319]    7323
487    [828, 11281]     233
490  [23806, 24266]   19686
491         [22048]   16999
492         [24883]  115284
496   [6376, 23114]     587
497  [12499, 12500]   11550
498  [25573, 25574]  101211

[267 rows x 2 columns]

In [291]:
clean_df = pd.read_csv('primary_ds_new.csv')

In [294]:
clean_df = clean_df.replace(r'\\n',' ', regex=True)

In [299]:
clean_df.to_csv("primary_ds_new.csv")

In [298]:
clean_df = clean_df.replace(r',',';', regex=True)